name: Slack PR Notification

on:
  pull_request:
    types: [opened, reopened]

permissions:
  contents: read
  pull-requests: read

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack notification
        run: |
          curl -X POST ${{ secrets.SLACK_PR_WEBHOOK_URL }} \
            -H "Content-Type: application/json" \
            -d "{\"PR_URL\": \"${{ github.event.pull_request.html_url }}\", 
            \"PR_author\": \"${{ github.event.pull_request.user.login }}\"}"
